/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #E6E6E6;
    color: rgba(0, 0, 0, 0.788);
}
main{
    background-color: white;
    padding-bottom: 1%;
    box-shadow: 0 0 40px rgba(92, 91, 91, 0.178);
}
h2{
    font-weight: 900;
}
a{
    text-decoration: none;
    color: #000000b6;
    
}
p,li,span{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    color: #000000b6;
}
main{
    width: 60%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 6% 0 3%;
    background-color: rgba(167, 223, 245, 0.137);
}
.halfWidth{
    /* margin: 0 15%; */
    /* margin: 0 14%; */
}
.halfWidth h1{
    font-size: 60px;
    font-weight: 400;
}
#headerTitleBreak{
    display: block;
    color: black;
    font-size: 56px;
    font-weight: 900;
}
#headerAddress{
    margin-top: 1%;
}
#headerAddress span{
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    line-height: 30px;
}
#headerAddress span:after{
    font-family: "FontAwesome";
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    color: #77448B;
    
}
#house:after{
    content: "\e065";
}
#mobile:after{
    content: "\f879";
}
#email:after{
    content: "\f0e0";
}
#linkedin:after{
    content: "\f08c";
}
.cvBody{
    width: 80%;
    margin: 3% auto;
}
hr{
    width: 95%;
}
.bodyDescription{
    width: 85%;
    margin-left: 5.5%;
}
.pseudoObject{
    margin: 5px 0;
}
.pseudoObject:before{
    font-family: "FontAwesome";
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    margin-right: 1%;
    padding: 12px;
    color:white;
    background-color: #77448B;
    border-radius: 50%;
}
#objective:before{
    content: "\f039";

}
#education:before{
    content: "\f19d";

}
#skills:before{
    content: "\f7d9";

}
#activities:before{
    content: "\f0ae";

}
.specialWord{
    font-weight: 900;
    color: #77448B;
}
.bodyEduLife{
    margin-bottom: 2%;
}
.bodyList{
    list-style: none;
}
.bodyList li:before{
    font-family: "FontAwesome";
    display: inline-block;
    content: "\2022";
    font-size: 25px;
    vertical-align: -2px;
    color: #77448B;
    margin-right: 10px;
}



/* media query */
@media (max-width: 1839px) {
    main{
        width: 60%;
    }
    .halfWidth{
        width: 26%;
        margin: 0 2%;
    }
}
@media (max-width: 1312px) {
    main{
        width: 70%;
    }
    h1{
        font-size: 2em;
    }
}
@media (max-width: 992px) {
    main{
        width: 100%;
    }
}
@media (max-width: 688px) and (min-width: 480px) {
    p{
        line-height: 30px;
    }
    main{
        width: 100%;
    }
    header{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .halfWidth{
        width: 50%;
    }
    .halfWidth h1{
        font-size: 60px;
        font-weight: 400;
    }
    #headerTitleBreak{
        font-size: 56px;
    }
}
@media (min-width: 280px) and (max-width: 550px){
    h2{
        font-size: 14px;
    }
    h3{
        font-size: 12px;

    }
    p,li,span{
        font-size: 10px;
    }
    main{
        width: 100%;
    }
    header{
        justify-content: center;
        align-items: center;
    }
    .halfWidth{
        width: 40%;
    }
    #headerAddress span{
        font-size: 10px;
        line-height: 20px;
    }
    #headerAddress span:after{
        width: 12px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        margin-left: 5px;
        
    }
    .pseudoObject:before{
        width: 10px;
        height: 10px;
        font-size: 10px;
        line-height: 10px;
        margin-right: 1%;
        padding: 7px;
    }
    .bodyList li:before{
        font-size: 15px;
    }
    .halfWidth h1{
        font-size: 25px;
        font-weight: 400;
    }
    #headerTitleBreak{
        font-size: 23px;
    }
}